@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Nothing";
  src: local("Nothing You Could Do"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Teko";
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
:root {
  --white: #fff;
  --purple-1: #5A1E82;
  --purple-2: #723F94;
  --purple-3: #875BA4;
  --purple-4: #B49AC6;
  --purple-5: #C2C1D9;
  --purple-6: #DED2E6;
  --pink-1: #EA079E;
  --gray-1: #A1A1A1;
  --gray-2: #F2F2F2;
  --orange-1: #ffc663;
  --blue-1: #353383;
  --blue-2: #5c5aa4;
  --black-1: #000000bf;
  --space: 20px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
}
body > main {
  min-height: calc(100vh - 400px);
}

#header {
  height: 62px;
  width: 100%;
  min-width: 320px;
  flex-direction: row;
  background-color: var(--white);
  position: relative;
  align-items: center;
}
#header .flags {
  flex-direction: row;
  margin-left: calc(var(--space) - 10px);
}
#header .flags img {
  padding: 0 2px;
}
#header .logo {
  height: 90px;
  position: absolute;
  right: calc(50vw - 38px);
  top: 25px;
  z-index: 4;
}
#header .btn-menu {
  position: absolute;
  right: var(--space);
}
#header .menu {
  transition: 0.3s ease-in-out right;
  display: none;
  right: -300px;
}
#header.open-menu .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--black-1);
  flex-direction: column;
}
#header.open-menu .overlay .menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--purple-2);
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;
}
#header.open-menu .overlay .menu .white {
  height: 66px;
  width: 100%;
  background-color: var(--white);
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
}
#header.open-menu .overlay .menu .white .btn-close {
  position: absolute;
  right: var(--space);
}
#header.open-menu .overlay .menu > hr {
  border: none;
  border-top: var(--white) 1px solid;
  margin-top: 140px;
  margin-bottom: 0;
  width: 200px;
}
#header.open-menu .overlay .menu nav {
  width: 100%;
  justify-content: center;
  align-items: center;
}
#header.open-menu .overlay .menu nav ul {
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}
#header.open-menu .overlay .menu nav ul li {
  margin-top: calc(var(--space));
}
#header.open-menu .overlay .menu nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
}
#header.open-menu .overlay .menu nav + hr {
  margin-top: var(--space);
}
#header.open-menu .overlay .menu .wrap {
  flex-direction: column;
  align-items: center;
  margin-top: var(--space);
}
#header.open-menu .overlay .menu .wrap a {
  width: 150px;
  height: 35px;
  text-decoration: none;
  background-color: var(--pink-1);
  border-radius: 5px;
  padding: 6px 15px;
  align-items: center;
  justify-content: center;
}
#header.open-menu .overlay .menu .wrap a span {
  color: var(--white);
  font-size: 19px;
  font-weight: bold;
  margin: 0 5px;
}
#header.open-menu .overlay .menu .wrap .social-icons {
  margin-top: calc(var(--space) * 2);
}
#header.open-menu .overlay .menu .wrap .social-icons img {
  padding: 0 12px;
}
#header.open-menu .overlay .logo {
  position: absolute;
  right: 110px;
  top: 25px;
}

/*# sourceMappingURL=main.css.map */
