#align {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    .negativelogo {
        width: 100%;
        height: 60px;
        background-color: var(--purple-2);
        position: absolute;
    }
    
    main {
        
        .headerdate {
            width: 100%;
            height: 100%;
            position: relative;
            

            h1 {
                width: 100%; 
                height: 100%;
                margin: 0 67px;        
                top: 100px;  
                font-size: 22px;
                font-weight: bold;  
                color: var(--purple-2);
                position: absolute;
            }
        }
        .calendar {
            min-width: 300px;
            margin-top: 200px;
            flex-direction: column;
            padding: none;
            top: 50px;
            
            
           
            .month {
                
                justify-content: space-between;
                align-items: center;
                color: black;
                margin-bottom: 10px;
                text-transform: uppercase;
                margin-top: -30px;
                
                h2 {
                   
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 20px;
                    margin-right: 10px;
                }
               
                nav{
                   
                    button + button {
                        margin-left: 10px;
                    }
                }
                .btn-today {
                    display: none;
                }
                
            }
            ul {
                margin: 0;
                padding: 0;
            }
            .weekdays {
                
                font-weight: bold;
                text-transform: uppercase;
                color: var(--gray-0);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                li {
                    justify-content: center;
                    padding: 8px 0;
                    font-size: 12px;
                    font-weight: bold;
                }
                
            }
            .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: repeat(5, 12vw);
                grid-gap: 10px;
                color: var(--dark-0);
                li {
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    transition:  all .1s ease-in-out;
                    &:hover {
                        background-color: var(--button);
                    }
                    &.active {
                        background-color: var(--button);
                        color: white;
                       
                    }
                }
        
            }
            
        }
        .select-date {
                width: 145px;
                height: 19px;
                position: absolute;
                bottom: -55px;
                flex-direction: row;
              
            div {
                
                font-size: 10px;
                color: var(--purple-3);
                flex-direction: column;
                margin-left: 10px;
                align-items: center;
                button {
                    width: 135px;
                    margin-top: 5px;
                    color: gray;
                }
                
                
                
                
        
                
            }
            
        }
       
    }
    form {
        footer.fixed {
            width: 100vw;
            position: fixed;
            bottom: 0;
            background-color: var(--purple-2);
            height: 90px;
            left: 0;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            z-index: 4;

            button, a {
                min-width: 110px;
                border: none;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                outline: none;
                background-color: var(--pink-1);
                color: white;
                cursor: pointer;
                
                border-radius: 5px;
                
                &:hover {
                    background-color: black;
                }
                &:active {
                    background-color:blue;
                }
            }
           
            
            button {
                
                min-width: 110px;
                border: none;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                outline: none;
                background-color: #EBE8E8;
                color: var(--pink-1);

                
                cursor: pointer;
                
                border-radius: 5px;
                background: #EBE8E8;
                
                &:hover {
                    background-color: #5D5D5D;
                }
                &:active {
                    background-color: gray;
                }   
            }
            
            

            
            
        }
    }

}