#footer {
    width: 100%;
    min-width: 320px;
    flex-direction: column;
    background-color: var(--footer);
    .footer-colums {
        width: 100%;
        flex-direction: column;
        .links {
            display: none;
        }
        .social-icons {
            justify-content: space-between;
            padding: 20px 30px;
            div {
                position: relative;
                svg {
                    width: 75px;
                }
                span {
                    display: none;
                }
            }

        }
        .contact-footer {
            flex-direction: column;
            justify-content: center;
            .contact {
                align-items: center;
                padding: 10px 25px;
                svg {
                    width: 48px;
                }
                span {
                    font-size: 22px;
                    color: var(--white);
                    padding: 0 20px;
                }
            }
        }
        .logo-footer {
            flex-direction: column;
            align-items   : center;
            img{
                width: 177px;
            }
        }

    }
    .copy {
        flex-direction: column;
        padding-bottom: 10px;
        div {
            flex-direction : column;
            justify-content: center;
            align-items    : center;
        }
        hr {
            width: calc(100vw - 60px);
            height: 2px;
            background-color: var(--hr);
        }
        p {
            font-size: 15px;
            font-weight: bold;
            color: var(--white);
            margin: 0;
        }
    }
}

@media (min-width: 768px) {
    #footer {
        .footer-colums {
            .social-icons {
                padding: 15px 50px;
            }
            .contact-footer{
                padding-left: 30px;
                .contact {
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
        .copy {
            div{
                flex-direction: row;
                p{
                    padding-right: 15px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #footer {
        width: 100%;
        height: 450px;
        .footer-colums {
            flex-direction: row;
            justify-content: space-between;
            .links {
                display        : flex;
                flex-direction : column;
                justify-content: center;
                padding        : 0 30px;
                h4 {
                    text-transform: uppercase;
                    font-weight   : bold;
                    font-size     : 35px;
                    color         : var(--white);
                    padding       : 0;
                    margin        : 0;
                    padding-bottom: 10px;
                }
                a {
                    text-transform : uppercase;
                    text-decoration: none;
                    color          : var(--white);
                    padding        : 2px;
                    font-size      : 25px;
                }
            }
            .social-icons {
                flex-direction : column;
                justify-content: center;
                margin: 0;
                div {
                    padding: 0;
                    padding: 10px;
                    span {
                        display: flex;
                        align-items: center;
                        a {
                            text-decoration: none;
                            color: var(--white);
                            font-size: 25px;
                            padding-left: 20px;
                        }
                    }
                }
            }
            .contact-footer {
                justify-content: center;
                font-size: 32px;
                font-weight: bold;
                .contact {
                    padding: 20px;
                    span {
                        font-size: 25px;
                    }
                }
            }
            .logo-footer {
                width: 300px;
                justify-content: center;
            }
        }
        .copy {
            div {
                P {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width:1920px) {
    
}