#header {
    min-width: 320px;
    height: 62px;
    width: 100%;
    position: relative;
    align-items: center;
    background-color: var(--white);
    .flags {
        img {
            width: 32px;
            margin-left: 5px;
        }
    }
    div {
        .logo {
            width: 70px;
            top: 25px;
            position: absolute;
            right: calc(50vw - 35px);
            z-index: 6;
            transition: right .5s ease-in-out;
        }
        .background_logo {
            width: 100vw;
            height: 70px;
            position: absolute;
            left: 0;
            top: 62px;
            background-color: var(--purple-3);
            z-index: 1;
        }
    }
    .overlay {
        right: -320px;
        transition: right .5s ease-in-out;
        nav {
            right: -320px;
            display: none;
        }
    }
    .btn-menu {
        position: absolute;
        right: 20px;
        width: 42px;
    }
    &.open-menu {
        div {
            .logo {
                right: calc(140px - 35px);
            }
        }
        .overlay {
            display: flex;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            background-color: var(--black-1);
            flex-direction: column;
            z-index: 2;
            nav{
                display: flex;
                .menu {
                    position: fixed;
                    width: 280px;
                    right: 0;
                    flex-direction: column;
                    background-color: var(--purple-2);
                    height: 100vh;
                    .white {
                        background-color: var(--white);
                        width: 100%;
                        height: 65px;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 42px;
                            position: absolute;
                            right: 20px;
                        }
                    }
                    hr {
                        border: none;
                        border-bottom: var(--white) 1px solid;
                        width: calc(100% - 50px);
                        margin-top: 60px;
                    }
                    ul{
                        width: 100%;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        li {
                            margin-top: 25px;
                            a{
                                color: var(--white);
                                text-decoration: none;
                                font-size: 20px;
                            }
                        }
                    }
                    ul + hr {
                        margin-top: 10px;
                    }
                    .wrap {
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-top: 30px;
                        a {
                            text-decoration: none;
                            .btn-login {
                                width: 150px;
                                height: 35px;
                                padding: 10px;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                background-color: var(--pink-1);
                                border-radius: 5px;
                                span{
                                    color: var(--white);
                                    font-size: 19px;
                                    font-weight: bold;
                                    margin-left: 5px;
                                    justify-content: center;
                                }
                            }
                        }
                        .logged {
                            display: none;
                        }
                        .social-icons {
                            margin-top: 30px;
                            img + img {
                                margin-left: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.logged {
        .overlay {
            nav {
                .menu {
                    .wrap {
                        a {
                            .btn-login {
                                display: none;
                            }
                        }
                        .logged {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 40px;
                                height: 40px;
                                margin-bottom: 5px;
                            }
                            div{
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .user_name {
                                    font-size: 15px;
                                    font-weight: bold;
                                    color: var(--white);
                                }
                                .user_email {
                                    font-size: 11px;
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) {
    #header {
        .flags {
            img {
                margin-left: 10px;
            }
        }
        div {
            .logo {
                width: 78px;
                right: calc(50vw - 39px);
            }
        }
        .overlay {
            right: -375px;
        }
        .btn-menu {
            right: 37px;
        }
        &.open-menu {
            div {
                .logo {
                    right: calc(150px - 39px);
                }
            }
            .overlay {
                nav{
                    .menu {
                        width: 300px;
                        .white {
                            img {
                                right: 30px;
                            }
                        }
                        hr {
                            margin-top: 100px;
                        }
                        ul{
                            li {
                                margin-top: 30px;
                            }
                        }
                        ul + hr {
                            margin-top: 70px;
                        }
                        .wrap {
                            margin-top: 90px;
                            .social-icons {
                                margin-top: 60px;
                                img + img {
                                    margin-left: 23px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #header {
        div {
            .logo {
                width: 78px;
                right: calc(50vw - 39px);
            }
        }
        .overlay {
            right: -450px;
        }
        .btn-menu {
            right: 37px;
        }
        &.open-menu {
            div {
                .logo {
                    right: calc(225px - 50px);
                    width: 100px;
                }
            }
            .overlay {
                nav{
                    .menu {
                        width: 450px;
                        .white {
                            img {
                                right: 30px;
                            }
                        }
                        hr {
                            margin-top: 150px;
                        }
                        ul{
                            li {
                                margin-top: 30px;
                            }
                        }
                        ul + hr {
                            margin-top: 90px;
                        }
                        .wrap {
                            margin-top: 120px;
                            .social-icons {
                                margin-top: 80px;
                              
                                    img + img {
                                        margin-left: 23px;
                                    }
                               
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #header {
        flex-direction: row;
        height: 50px;
        .flags {
            flex-direction: column;
            position: absolute;
            top: 300px;
            right: 30px;
            z-index: 3;
            img {
                padding-bottom: 20px;
            }
        }
        .btn-menu {
            display: none;
        }
        div {
            .logo {
                position: absolute;
                width: 100px;
                top: 10px;
                left: 30px;
            }
            .background_logo {
                width: 150px;
                height: 80px;
                position: absolute;
                top: 50px;
                background-color: var(--purple-3);
                z-index: 0;
            }
        }
        .overlay {
            nav {
                display: flex;
                .white {
                    display: none;
                }
                ul {
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    justify-content: center;
                    align-self: center;
                    left: 180px;
                    li + li {
                       margin-left: 40px;
                    }
                    li {
                        a {
                            text-decoration: none;
                            color: var(--purple-3);
                            font-size: 20px;
                            &:hover{
                                color: var(--pink-1);
                                transition: all .3s ease-in-out;
                            }
                        }
                    }
                }
                .wrap {
                    flex-direction: row-reverse;
                    position: absolute;
                    right: 25px;
                    margin: 0;
                    padding: 0;
                    align-self: center;
                    justify-content: center;
                    align-items: center;
                    a {
                        text-decoration: none;
                        
                        .btn-login {
                           cursor: pointer;
                            margin-left: 30px;
                            width: 150px;
                            height: 35px;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            background-color: var(--pink-1);
                            border-radius: 5px;
                            top: 5px;
                          
                            span{
                                color: var(--white);
                                font-size: 19px;
                                font-weight: bold;
                                margin-left: 5px;
                            }

                            &:hover {
                                background-color: var(--purple-2);
                                transition: all .4s ease-in-out;
                            }
                        }
                    }
                    .logged {
                        display: none;
                    }
                    .social-icons{
                        img + img {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        &.logged {
            .overlay {
                nav {
                    .menu {
                        .wrap {
                            a {
                                .btn-login {
                                    display: none;
                                }
                            }
                            .logged {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                img {
                                    width: 35px;
                                    height: 35px;
                                    margin-left: 15px;
                                }
                                div{
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    .user_name {
                                        font-size: 15px;
                                        font-weight: bold;
                                        color: var(--purple-2);
                                    }
                                    .user_email {
                                        font-size: 11px;
                                        color: var(--purple-2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1920px) {
    #header {
        .overlay {
            nav{
                .menu {
                    ul {
                        li {
                            margin-left: 70px;
                        }
                    }
                    .wrap {
                        a {
                            .btn-login {
                                margin-left: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}