#login {
  background-color: var(--footer);
  flex-direction: column;
  align-content: space-between;
  position: relative;
  min-height: 800px;
  .header-login {
    justify-content: center;
    img {
      width: 177px;
      margin: 0;
      padding: 0;
      margin-top: 20px;
    }
  }
  .main-login {
    flex-direction: column;
    padding: 10px;
    form {
      flex-direction: column;
      color: var(--white);
      justify-content: center;
      align-items: center;
      header {
        width: 100%;
        justify-content: center;
        h2{
          font-size: 30px;
          font-weight: bold;
          color: var(--font);
          justify-content: center;
        }
      }
      div.input{
        padding-bottom: 10px;
        flex-direction: column;
        span {
          color: var(--font);
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        input {
          width: 350px;
          height: 75px;
          border-radius: 20px;
          border: 2px solid var(--button);
          padding-left: 10px;
          font-size: 25px;
          color: var(--button);
          align-items: center;
        }
      }
      div.links {
        margin: 5px 0;
        align-self: center;
        margin-bottom: 20px;
          flex-direction: column;
        a{
          text-decoration: none;
          color: var(--font);
          font-size: 20px;
        }
      }
      button {
        width: 300px;
        height: 75px;
        border-radius: 20px;
        background-color: var(--button);
        border: none;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
  .footer-login {
    flex-direction: column;
    width: 100%;
    position: static;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    hr {
      width: calc(100vw - 60px);
      height: 2px;
      background-color: var(--hr);
    }
    div {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 15px;
        font-weight: bold;
        color: var(--white);
      }
      img {
        width: 42px;
        padding-top: 10px;
      }
    }
  }
}

@media (min-width: 768px) {
  #login {
    .header-login {
      img {
        width: 205px;
      }
    }
    .main-login {
      form {
        header {
          h2 {
            font-size: 35px;
          }
        }
        div.input {
          span {
            font-size: 28px;
          }
        }
        div.links {
          a {
            font-size: 28px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #login {
    .header-login {
      max-width: 550px;
      margin: 0 auto;
      justify-content: center;
      img {
        width: 300px;
      }
    }
    .main-login {
      max-width: 550px;
      margin: 0 auto;
      form {
        div.input {
          flex-direction: row;
          align-items: center;
          span {
            margin: 0;
            padding: 0;
            margin-right: 20px;
            text-align: right;
          }
        }
        div.links {
          min-width: 500px;
          flex-direction: row;
          justify-content: space-between;
          a{
            font-size: 20px;
          }
        }
      }
    }
    .footer-login {
      div {
        flex-direction: row;
        span {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  #login {
    .header-login {
      img {
        width: 400px;
      }
    }
    .main-login {
      max-width: 800px;
      margin: 0 auto;
      header {
        h2 {
          font-size: 40px;
        }
      }
      form {
        max-width: 800px;
        justify-content: space-between;
        align-items: center;
        div.input {
          span {
            font-size: 30px;
          }
          input {
            width: 650px;
          }
        }
        div.links {
          min-width: 550px;
          max-width: 650px;
          justify-content: space-between;
          a {
            margin-right: 20px;
          }
        }
      }
    }
  }
}