:root {
    
    --white: #fff;
    --purple-1: #5A1E82;
    --purple-2: #723F94;
    --purple-3: #875BA4;
    --purple-4: #B49AC6;
    --purple-5: #C2C1D9;
    --purple-6: #DED2E6;
    --pink-1: #EA079E;
    --pink-2: #F8F0F0;
    --gray-1: #A1A1A1;
    --gray-2: #F2F2F2;
    --gray-3: #CCCCCC;
    --gray-4: #AF9DBA;
    --gray-5: #F5F5F5;
    --gray-6: #8A8888;
    --orange-1: #ffc663;
    --blue-1: #353383;
    --blue-2: #5c5aa4;

    --black-1: #000000bf;

    --space: 20px;
}