:root {
  --white: #fff;
  --black: #000;
  --black-hover: #111;
  --black-active: #222;
  --black-10: #0000001a;
  --black-50: rgba(0, 0, 0, .5);
  --black-75: #000000bf;
  --header: #D5C7A1;
  --footer:#C1AC72;
  --hr:#EBE6D9;
  --button-header: #AE632C;
  --button: #AC9043;
  --font: #BA3825;
}