@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format(truetype);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format(truetype);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Nothing";
  src: local("Nothing You Could Do"), url("../fonts/NothingYouCouldDo-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "QuietMeows";
  src: local("QuietMeows"), url("../fonts/quiet-meows.ttf") format(truetype);
  font-style: normal;
  font-weight: 400;
}
:root {
  --white: #fff;
  --black: #000;
  --black-hover: #111;
  --black-active: #222;
  --black-10: #0000001a;
  --black-50: rgba(0, 0, 0, .5);
  --black-75: #000000bf;
  --header: #D5C7A1;
  --footer:#C1AC72;
  --hr:#EBE6D9;
  --button-header: #AE632C;
  --button: #AC9043;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  background-color: var(--white);
}

#header {
  min-width: 320px;
  width: 100%;
  height: 110px;
  background-color: var(--header);
  position: relative;
}
#header .logo {
  position: absolute;
  z-index: 6;
  width: 90px;
  margin-top: 10px;
  margin-left: calc(50vw - 40px);
  font-family: "QuietMeows";
}
#header .btn-open, #header .btn-close {
  background: none;
  border: none;
  outline: none;
}
#header .btn-open {
  position: fixed;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  margin-top: 34px;
  margin-right: 20px;
}
#header nav {
  transition: right 0.5s ease-in-out;
  flex-direction: column;
  background-color: var(--header);
  position: fixed;
  width: 267px;
  height: 100vh;
  padding-bottom: 50px;
  z-index: 4;
  right: -300px;
}
#header.open-menu .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-75);
  z-index: 2;
  flex-direction: column;
}
#header.open-menu .logo {
  width: 150px;
  margin-top: 20px;
  padding: 0;
  margin: 0;
}
#header.open-menu nav {
  flex-direction: column;
  right: 0;
}
#header.open-menu nav div.menu {
  width: 100%;
  flex-direction: column;
}
#header.open-menu nav div.menu button {
  height: 150px;
}
#header.open-menu nav div.menu button.btn-close {
  position: fixed;
  width: 40px;
  right: 20px;
  top: 20px;
}
#header.open-menu nav div.menu ul {
  flex-direction: column;
  position: absolute;
  top: 300px;
  padding: 0;
  margin: 0;
}
#header.open-menu nav div.menu ul li {
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
  padding: 0;
}
#header.open-menu nav div.menu ul li a {
  text-decoration: none;
  color: var(--button-header);
  font-size: 20px;
  padding: 0 13px;
}
#header.open-menu nav div.footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  flex-direction: row;
}
#header.open-menu nav div.footer ul {
  flex-direction: row;
  margin: 0;
  padding: 7px 0;
}
#header.open-menu nav div.footer ul li {
  flex-direction: row;
  margin: 0;
}
#header.open-menu nav div.footer ul li img {
  width: 36px;
  margin-left: 5px;
}
#header.open-menu nav div.footer ul li.desktop {
  display: none;
}
#header.open-menu nav div.footer div {
  position: fixed;
  right: 10px;
  bottom: 10px;
  flex-direction: column;
  width: 58px;
  margin: 0;
  padding: 0;
  align-items: center;
}
#header.open-menu nav div.footer div img {
  margin: 0;
  padding: 0;
  width: 40px;
}
#header.open-menu nav div.footer div span {
  font-size: 20px;
  color: var(--button-header);
}

@media (min-width: 768px) {
  #header.open-menu .logo {
    right: 78px;
  }
}
@media (min-width: 1200px) {
  #header {
    width: 100vw;
  }
  #header .btn-open {
    display: none;
  }
  #header .logo {
    width: 110px;
  }
  #header nav {
    flex-direction: column-reverse;
    right: 0;
    height: 140px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #header nav div.menu {
    height: 40px;
    width: 100%;
    background-color: var(--white);
    flex-direction: row;
    position: relative;
    align-items: center;
    border-bottom: var(--button-header) 2px solid;
  }
  #header nav div.menu ul {
    width: 100%;
    justify-content: space-between;
    padding: 0 90px;
  }
  #header nav div.menu ul li a {
    text-decoration: none;
    color: var(--button-header);
    font-size: 25px;
  }
  #header nav div.menu ul li:nth-child(2) {
    padding-right: 200px;
  }
  #header nav div.menu ul li:nth-child(3) {
    padding-right: 100px;
  }
  #header nav div.menu button.btn-close {
    display: none;
  }
  #header nav div.footer {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
  }
  #header nav div.footer ul {
    padding: 0;
  }
  #header nav div.footer ul li img {
    width: 40px;
  }
  #header nav div.footer ul li.mobile {
    display: none;
  }
  #header nav div.footer ul li.desktop {
    display: flex;
  }
  #header nav div.footer ul li.desktop img {
    color: var(--button-header);
  }
  #header nav div.footer div {
    flex-direction: row;
  }
  #header nav div.footer div img {
    width: 40px;
    margin-right: 5px;
  }
  #header nav div.footer div span {
    font-size: 25px;
    color: var(--button-header);
  }
}
@media (min-width: 1920px) {
  #header .logo {
    width: 156px;
    height: 190px;
  }
  #header nav {
    height: 210px;
  }
  #header nav div.menu {
    height: 60px;
  }
  #header nav div.menu ul {
    padding: 0 150px;
  }
  #header nav div.menu ul li {
    font-size: 30px;
  }
  #header nav div.footer {
    padding: 0 150px;
    font-size: 30px;
    height: 150px;
  }
  #header nav div.footer div span {
    font-size: 30px;
  }
}
.conteudo {
  position: relative;
  height: 500px;
}

#footer {
  width: 100%;
  min-width: 320px;
  height: 680px;
  flex-direction: column;
  background-color: var(--footer);
}
#footer .footer-colums {
  width: 100%;
  min-width: 320px;
  flex-direction: column;
}
#footer .footer-colums .links {
  display: none;
}
#footer .footer-colums .social-icons {
  justify-content: space-between;
  padding: 10px 40px 0 25px;
}
#footer .footer-colums .social-icons div {
  position: relative;
}
#footer .footer-colums .social-icons div span {
  display: none;
}
#footer .footer-colums .contact-footer {
  flex-direction: column;
  justify-content: center;
}
#footer .footer-colums .contact-footer .contact {
  padding: 10px;
  align-items: center;
  margin-left: 15px;
}
#footer .footer-colums .contact-footer .contact span {
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  padding: 0 10px;
}
#footer .footer-colums .logo-footer {
  flex-direction: column;
  align-items: center;
}
#footer .copy {
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}
#footer .copy div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .copy hr {
  width: 309px;
  height: 1px;
  background-color: var(--hr);
  border: none;
}
#footer .copy p {
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
}

@media (min-width: 768px) {
  #footer {
    height: 370px;
  }
  #footer .footer-colums {
    flex-direction: row;
  }
  #footer .footer-colums .links {
    display: none;
  }
  #footer .footer-colums .social-icons {
    flex-direction: column;
    margin: 0;
  }
  #footer .footer-colums .social-icons div {
    padding: 4px;
  }
  #footer .footer-colums .social-icons div span {
    display: flex;
    align-items: center;
  }
  #footer .footer-colums .social-icons div span a {
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
    padding-left: 20px;
  }
  #footer .footer-colums .contact-footer .contact {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .footer-colums .contact-footer .contact span {
    font-size: 18px;
  }
  #footer .footer-colums .logo-footer {
    width: 300px;
    justify-content: center;
  }
  #footer .copy {
    background-color: var(--footer);
    padding-bottom: 20px;
    flex-direction: column;
  }
  #footer .copy hr {
    width: 700px;
  }
  #footer .copy div {
    flex-direction: row;
  }
  #footer .copy div P {
    font-size: 20px;
  }
  #footer .copy div svg {
    padding-left: 10px;
  }
}
@media (min-width: 992px) {
  #footer {
    height: 370px;
  }
  #footer .footer-colums {
    flex-direction: row;
  }
  #footer .footer-colums .links {
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
  }
  #footer .footer-colums .links h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: var(--white);
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
  }
  #footer .footer-colums .links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 2px;
    font-size: 20px;
  }
  #footer .footer-colums .social-icons {
    flex-direction: column;
    margin: 0;
  }
  #footer .footer-colums .social-icons div {
    padding: 4px;
  }
  #footer .footer-colums .social-icons div span {
    display: flex;
    align-items: center;
  }
  #footer .footer-colums .social-icons div span a {
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
    padding-left: 20px;
  }
  #footer .footer-colums .contact-footer .contact {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .footer-colums .contact-footer .contact span {
    font-size: 18px;
  }
  #footer .footer-colums .logo-footer {
    width: 300px;
    justify-content: center;
  }
  #footer .copy {
    background-color: var(--footer);
    padding-bottom: 20px;
    flex-direction: column;
  }
  #footer .copy hr {
    width: 940px;
  }
  #footer .copy div {
    flex-direction: row;
  }
  #footer .copy div P {
    font-size: 20px;
  }
  #footer .copy div svg {
    padding-left: 10px;
  }
}
@media (min-width: 1200px) {
  #footer {
    width: initial;
    min-width: 1200px;
    height: 450px;
  }
  #footer .footer-colums {
    height: 450px;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .footer-colums .links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
  #footer .footer-colums .links h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: var(--white);
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
  }
  #footer .footer-colums .links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 2px;
    font-size: 25px;
  }
  #footer .footer-colums .social-icons {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  #footer .footer-colums .social-icons div {
    padding: 0;
    padding: 10px;
  }
  #footer .footer-colums .social-icons div span {
    display: flex;
    align-items: center;
  }
  #footer .footer-colums .social-icons div span a {
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
    padding-left: 20px;
  }
  #footer .footer-colums .contact-footer {
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
  }
  #footer .footer-colums .contact-footer .contact {
    padding: 20px;
  }
  #footer .footer-colums .contact-footer .contact span {
    font-size: 25px;
  }
  #footer .footer-colums .logo-footer {
    width: 300px;
    justify-content: center;
  }
  #footer .copy {
    background-color: var(--footer);
    padding-bottom: 20px;
    flex-direction: column;
  }
  #footer .copy hr {
    width: 1740px;
  }
  #footer .copy div {
    flex-direction: row;
  }
  #footer .copy div P {
    font-size: 20px;
  }
  #footer .copy div svg {
    padding-left: 10px;
  }
}
@media (min-width: 1920px) {
  #footer {
    width: initial;
    height: 450px;
    min-width: 1920px;
  }
  #footer .footer-colums {
    height: 450px;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .footer-colums .links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
  }
  #footer .footer-colums .links h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: var(--white);
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
  }
  #footer .footer-colums .links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 2px;
    font-size: 25px;
  }
  #footer .footer-colums .social-icons {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  #footer .footer-colums .social-icons div {
    padding: 0;
    padding: 10px;
  }
  #footer .footer-colums .social-icons div span {
    display: flex;
    align-items: center;
  }
  #footer .footer-colums .social-icons div span a {
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
    padding-left: 20px;
  }
  #footer .footer-colums .contact-footer {
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
  }
  #footer .footer-colums .contact-footer .contact {
    padding: 20px;
  }
  #footer .footer-colums .contact-footer .contact span {
    font-size: 25px;
  }
  #footer .footer-colums .logo-footer {
    width: 400px;
    justify-content: center;
  }
}
main {
  width: 100%;
  justify-content: center;
}

#align {
  justify-content: center;
  position: relative;
}
#align .headerdate h1 {
  width: 80%;
  text-align: center;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  color: var(--button);
  margin: 40px;
}
#align .calendar {
  width: 100%;
  margin-top: 130px;
  flex-direction: column;
  padding: none;
  top: 50px;
}
#align .calendar .month {
  justify-content: space-between;
  align-items: center;
  color: var(--button);
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: -30px;
}
#align .calendar .month h2 {
  font-size: 22px;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 10px;
}
#align .calendar .month button {
  border: var(--gray-2) 2px solid;
  color: var(--gray-2);
}
#align .calendar .month nav button {
  min-width: 30px;
}
#align .calendar .month nav button + button {
  margin-left: 10px;
}
#align .calendar .month .btn-today {
  display: none;
}
#align .calendar ul {
  margin: 0;
  padding: 0;
}
#align .calendar .weekdays {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--gray-0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#align .calendar .weekdays li {
  justify-content: center;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bold;
}
#align .calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 12vw);
  grid-gap: 10px;
  color: var(--dark-0);
}
#align .calendar .days li {
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#align .calendar .days li:hover {
  background-color: var(--button);
}
#align .calendar .days li.active {
  background-color: var(--button);
  color: white;
}

#footerloged {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--footer);
  height: 90px;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 4;
}
#footerloged div button {
  min-width: 110px;
  border: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  background-color: var(--button);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background: #EBE8E8;
  color: var(--button);
}
#footerloged div button:hover {
  background-color: #5D5D5D;
}
#footerloged div button:active {
  background-color: gray;
}
#footerloged div .back {
  border-radius: 5px;
  background: var(--button);
  color: white;
  margin-left: 30px;
  margin-right: 15px;
}
#footerloged div .back:hover {
  background-color: #5D5D5D;
}
#footerloged div .back:active {
  background-color: gray;
}
#footerloged .logo {
  width: 50px;
}

@media (min-width: 992px) {
  .calendar {
    max-width: 992px;
  }
  .calendar .month {
    margin: var(--space) 0;
  }
  .calendar .month h2 {
    font-size: 44px;
  }
  .calendar .month .btn-today {
    display: flex;
  }
  .calendar .weekdays li {
    font-size: 21px;
    font-weight: bold;
  }
  .calendar .days {
    grid-template-rows: repeat(5, calc(992px / 7));
  }
  .calendar .days li {
    font-size: 38px;
  }
}

/*# sourceMappingURL=main.css.map */
